@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

:root {
    font-size: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    min-width: 280px;
    color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Signika', sans-serif;
}